<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>예약하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>

<h1>상점 정보</h1>
<p>상점 이름: <span th:text="${store.storeName}"></span></p>
<p>상점 지역: <span th:text="${store.storeLocation}"></span></p>
<p>상점 설명: <span th:text="${store.storeDescription}"></span></p>
<form th:action="@{/reservation/create/{id}(id=${store.id})}" method="post">
    <p><input type="time" name="time"></p>
    <p><input type="submit" value="예약하기"></p>
</form>
</body>
</html>